#fl_menu {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 1000;
    width: 170px;
    height: 50px;
    text-align: center;
}

#fl_menu .label {
    
    line-height: 50px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: none;
    color: #000;
    border: solid 1px black;
    letter-spacing: 10px;
    padding-right: 0px;
}

#fl_menu .menu {
    display: none;
}

#fl_menu .menu .menu_item {
    display: block;
    background: none;
    color: black;
    /*border-top: 1px solid #333;*/
    padding: 10px 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

#fl_menu .menu a.menu_item:hover {
    background: #333;
    color: #fff;
}